@model TheRuhuahs_TandTNew.Models.ViewModel.CreateTouristCenterViewModel
@{ 

    ViewBag.Title = "Create";  
}

  <div class="border p-5">
    <div class="card">
        <h2 class="text-center font-weight-bolder" style="color:green" >Create Tourist Centers </h2>
    </div>
    <form method="post" enctype="multipart/form-data">
     <input asp-for="Id" hidden />
                    <div class="">
                        <div class="form-row">

                            <div class="form-group col-md-5">
                                <label asp-for="Name" class="form-check-label font-weight-bold"><span style="color: darkred"></span> Name </label>
                                <input asp-for="Name" class="form-control" placeholder="Name" type="text" />
                                <span asp-validation-for="Name" style="color:darkred"></span>
                            </div>
                            @* <div class="form-group col-md-2">
                            </div> *@
                            <div class="form-group col-md-5">
                                <label asp-for="Description" class="form-check-label font-weight-bold"><span style="color: darkred"></span> Description </label>
                                <input asp-for="Description" class="form-control" placeholder="Description" type="text" />
                                <span asp-validation-for="Description" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="Location" class="form-check-label font-weight-bold"><span style="color: darkred"></span> Location</label>
                                <input asp-for="Location" class="form-control" placeholder="Location" type="text" />
                                <span asp-validation-for="Location" style="color:darkred"></span>
                            </div>
                             <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="Image" class="form-check-label font-weight-bold"><span style="color: darkred"></span> Image</label>
                                <input asp-for="Image" type="file" class="form-control" placeholder="" />
                                <span asp-validation-for="Image" style="color:darkred"></span>
                            </div>
                        </div>    
                    </div>
                    <div class="">
                        <input type="submit" value="Add Tourist Center" class="btn font-weight-bolder" style="background-color:green"/>
                        <a style="margin-right: 500%; color:green" asp-action="Index">Back To List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}