
@model IEnumerable<TheRuhuahs_TandTNew.Models.ViewModel.TouristCenterViewModel>
@* <div>
    <img src= "images/Logo.jpg" width="1000px" height="700px";
</div>
<body>
    <<div class="col-md-4">
        <div class="main-card mb-3 card"><img src="images/dowmload.jpeg" width = "100%" alt="Card image cap" class="card-img-top">
            <div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle">Card subtitle</h6>Some quick example text to build on the card title and make up the bulk of the card's content.
                <button class="btn btn-secondary">Button</button>
            </div>
    <div class="col-md-4"> 
        <div class="main-card mb-3 card"><img width="100%" src="images/dowmload.jpeg" alt="Card image cap" class="card-img-top">
            <div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle">Card subtitle</h6>Some quick example text to build on the card title and make up the bulk of the card's content.
                <button class="btn btn-secondary">Button</button>
            </div>
    </div>
</body> *@
<!doctype html>
<html class="no-/js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Ruhuahs Tours And Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="/image/x-icon" href="travelo/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="travelo/css/bootstrap.min.css">
    <link rel="stylesheet" href="travelo/css/owl.carousel.min.css">
    <link rel="stylesheet" href="travelo/css/magnific-popup.css">
    <link rel="stylesheet" href="travelo/css/font-awesome.min.css">
    <link rel="stylesheet" href="travelo/css/themify-icons.css">
    <link rel="stylesheet" href="travelo/css/nice-select.css">
    <link rel="stylesheet" href="travelo/css/flaticon.css">
    <link rel="stylesheet" href="travelo/css/gijgo.css">
    <link rel="stylesheet" href="travelo/css/animate.css">
    <link rel="stylesheet" href="travelo/css/slick.css">
    <link rel="stylesheet" href="travelo/css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="travelo/css/style.css">
    <link rel="stylesheet" href="css/responsive.css">  
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start --
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Indonesia</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Australia</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Switzerland</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider_area_end -->
   <h2 class="text-center font-weight-bolder" style="color:black" >Welcome Dear Customers</h2>
    <!-- where_togo_area_end  -->
    
    <!-- popular_destination_area_start  -->
   
        <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Tourist Center </h3>
                        <p>This Are Our Popular Tourist Centers You Would Like To Go</p>
                    </div>
                </div>
            </div>
             @foreach (var touristCenter in Model)
    {
          
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="@WC.ImagePath@touristCenter.Image" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">View Trips <a asp-controller= "" asp-action= "" >   </a> </p>
                            
                        </div>
                    </div>
                </div>
               
    }
        </div>
    </div>
   


  <!-- Modal -->
  <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="serch_form">
            <input type="text" placeholder="Search" >
            <button type="submit">search</button>
        </div>
      </div>
    </div>
  </div>
    <!-- link that opens popup -->
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.travelo/js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.travelo/js"></script>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.travelo/js"> </script> -->
    <!-- JS here -->
    <script src="travelo/js/vendor/modernizr-3.5.0.min.travelo/js"></script>
    <script src="travelo/js/vendor/jquery-1.12.4.min.travelo/js"></script>
    <script src="travelo/js/popper.min.travelo/js"></script>
    <script src="travelo/js/bootstrap.min.travelo/js"></script>
    <script src="travelo/js/owl.carousel.min.travelo/js"></script>
    <script src="travelo/js/isotope.pkgd.min.travelo/js"></script>
    <script src="travelo/js/ajax-form.travelo/js"></script>
    <script src="travelo/js/waypoints.min.travelo/js"></script>
    <script src="travelo/js/jquery.counterup.min.travelo/js"></script>
    <script src="travelo/js/imagesloaded.pkgd.min.travelo/js"></script>
    <script src="travelo/js/scrollIt.travelo/js"></script>
    <script src="travelo/js/jquery.scrollUp.min.travelo/js"></script>
    <script src="travelo/js/wow.min.travelo/js"></script>
    <script src="travelo/js/nice-select.min.travelo/js"></script>
    <script src="travelo/js/jquery.slicknav.min.travelo/js"></script>
    <script src="travelo/js/jquery.magnific-popup.min.travelo/js"></script>
    <script src="travelo/js/plugins.travelo/js"></script>
    <script src="travelo/js/gijgo.min.travelo/js"></script>
    <script src="travelo/js/slick.min.travelo/js"></script>
   

    
    <!--contact travelo/js-->
    <script src="travelo/js/contact.travelo/js"></script>
    <script src="travelo/js/jquery.ajaxchimp.min.travelo/js"></script>
    <script src="travelo/js/jquery.form.travelo/js"></script>
    <script src="travelo/js/jquery.validate.min.travelo/js"></script>
    <script src="travelo/js/mail-script.travelo/js"></script>


    <script src="travelo/js/main.travelo/js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
    </script>
</body>

</html>