@model IEnumerable<TheRuhuahs_TandTNew.Models.Trip>
    
@foreach (var trips in Model) 
{
    <div class="col-lg-4 col-md-6">
        <div class="single_destination">
             <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            
                        </div>
                        <div class="place_info">
                            <a ><h3><td>@trips.Name</td>
                             </h3></a>
                            <p><td>@trips.StartDate</td></p>
                            <div class="rating_days d-flex justify-content-between">
                                <div class="description">
                                    <td>@trips.StartDate</td>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
            <div class="content">

                <p class="d-flex align-items-center">View Packages <a asp-controller= "Package" asp-action= "" asp-route-id= "">   </a> </p>
                            
            </div> 

        </div>     
    </div>
                
}
